body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-rendering: optimizeLegibility; }

a {
  color: #074272;
  text-decoration: underline; }

#header .logo {
  padding: 3rem;
  background-color: #D32F2F;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-align: left; }
  #header .logo .fa {
    margin-right: 1rem; }
  #header .logo .notification a {
    font-size: 1.8rem;
    color: white;
    font-weight: 400;
    border: 1px solid white;
    padding: 1rem; }

#main {
  padding: 0; }
  #main .column {
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 2rem 3rem 4rem 4rem; }
    #main .column:first-child {
      background: #fff6f7;
      border: 1px solid #ffd2d7;
      padding: 2rem 4rem 4rem 4rem; }
      #main .column:first-child h1 {
        font-size: 3rem; }
    #main .column .fa {
      color: #D32F2F; }
    #main .column .info {
      background: #e2f1fd;
      border: 1px solid #BBDEFB;
      padding: 1.5rem 1rem 1rem 2rem;
      box-sizing: border-box; }
      #main .column .info a {
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #main .column .info a:hover {
          opacity: 0.8;
          margin-left: 0.4rem; }
    #main .column h1 {
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 3rem;
      line-height: 1.4; }
    #main .column ul {
      list-style: none;
      padding: 0; }
      #main .column ul li {
        border-bottom: 1px solid #ffd2d7;
        padding: 1rem 0 1rem 0; }
        #main .column ul li a {
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          font-size: 1.8rem;
          font-weight: 600; }
          #main .column ul li a:hover {
            opacity: 0.8;
            margin-left: 0.4rem; }
        #main .column ul li:first-child {
          padding: 0 0 1rem 0; }

